[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Autonomous-Racing-Labs/rplidar_ros.git
	branch = ros2
[submodule "src/transport_drivers"]
	path = src/transport_drivers
	url = https://github.com/ros-drivers/transport_drivers.git
	branch = main
[submodule "src/vesc"]
	path = src/vesc
	url = https://github.com/Autonomous-Racing-Labs/vesc.git
	branch = ros2
[submodule "src/laser_hello_world"]
	path = src/laser_hello_world
	url = https://github.com/Autonomous-Racing-Labs/laser_hello_world.git
	branch = master
[submodule "src/vehicle_control"]
	path=src/vehicle_control
	url = https://github.com/Autonomous-Racing-Labs/vehicle_control.git
	branch = master
[submodule "src/f1tenth_gym_ros"]
	path = src/f1tenth_gym_ros
	url = https://github.com/Autonomous-Racing-Labs/f1tenth_gym_ros.git
[submodule "src/f1tenth_raceline"]
	path = src/f1tenth_raceline
	url = https://github.com/wette/f1tenth_raceline.git
[submodule "src/aesthetic_control"]
	path = src/aesthetic_control
	url = https://github.com/Autonomous-Racing-Labs/aesthetic_control.git
[submodule "src/telemetry_monitor"]
	path = src/telemetry_monitor
	url = https://github.com/Autonomous-Racing-Labs/telemetry_monitor.git
[submodule "src/telemetry_monitor_interfaces"]
	path = src/telemetry_monitor_interfaces
	url = https://github.com/Autonomous-Racing-Labs/telemetry_monitor_interfaces.git
